@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&family=Hubballi&display=swap');

@import url("components/cards.css");
@import url("components/container.css");
@import url("components/avatar.css");

body {
  font-family: 'Hubballi', cursive;
  height: 100%;
  background: linear-gradient(90deg, #F6D7A7 50%, #FBF8F1 50%);
}

h1 h2 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
}


h3 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 300;
}
